---
---
@charset "utf-8";

$gray-darkest:  #242038;
$gray-dark:     #37344A;
$gray:          #49465A;
$gray-light:    #7A7887;
$gray-lighter:  #E0E0E4;
$gray-lightest: #F4F4F6;

$brand-primary: #FF2D55;
$brand-success: #23CE6B;
$brand-info:    #8338EC;
$brand-warning: #FFA400;
$brand-danger:  #E3170A;

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  5: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  ),
  7: (
    x: ($spacer-x * 7),
    y: ($spacer-y * 7)
  )
);

$display1-size: 10rem;

$navbar-brand-padding-y: 0;

$headings-font-weight: 300;

$card-border-radius: 9px;

@import "genres";
@import "bootstrap/bootstrap";

body {
  font-weight: 300;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &.tocaki-fill {
    width: 1.0986328125em;
  }

  .display-1 &,
  .display-2 &,
  .display-3 &,
  .display-4 & {
    top: 0;
  }
}

.hero {
  background-image:
    linear-gradient(rgba($gray-lightest, .24), rgba($gray-lightest, .24)),
    url("/images/bg.jpg");
}

.site-footer {
  background-image:
    linear-gradient(rgba($gray-dark, .8), rgba($gray-dark, .8)),
    url("/images/bg2.jpg");
}

.navbar-absolute {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-brand {
  font-size: 2rem;
  line-height: 1;
}

.text-deco-none { text-decoration: none !important; }

.bb-1 { border-bottom: $border-width solid; }
.bb-2 { border-bottom: $border-width * 2 solid; }
.bb-3 { border-bottom: $border-width * 3 solid; }

.bg-cover-fixed {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.filter-card .list-group-item {
  border-right: 0;
  border-left: 0;

  &:first-child { border-top:    0; }
  &:last-child  { border-bottom: 0; }
}

.artist-card { position: relative; }
.artist-card-name {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba($gray-lightest, .7);
  color: $gray-dark;
}
.artist-card-img {
  border-radius: $card-border-radius;
}
.artist-card-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 1.25rem;
  line-height: .75;
  padding: .5rem;
  border-radius: 1.25rem;
  color: white;

  .icon {
    margin-right: .25rem;

    &:last-child { margin-right: 0; }
  }
}
