# Site settings
title: Tocaki
email: contato@tocaki.net
description: >
  Pumpkin spice black, french press bar seasonal id coffee.
  Whipped carajillo french press doppio at latte extra half
  and half roast aftertaste grinder aftertaste.
baseurl: ""
url: "http://tocaki.net"
facebook: tocakinet
instagram: tocakinet
twitter: tocakinet
blogurl: ""
subscriptionurl: ""

# Build settings
markdown: kramdown
permalink: pretty
collections:
  artists:
    output: true
    permalink: /:path/
defaults:
  -
    scope:
      path: ""
      type: artists
    values:
      layout: profile

# Prose
prose:
  ignore:
    - /*
    - '!/_artists'
    - '!/_data'
    - '!/images'
    - '!_config.yml'
    - '!artistas.html'
    - '!index.html'
  metadata:
    index.html:
      - name: layout
        field:
          element: hidden
          value: default
      - name: banner_button
        field:
          element: text
          label: Botão do banner
      - name: banner_lead
        field:
          element: text
          label: Texto do banner
      - name: about
        field:
          element: textarea
          label: Sobre
    _artists:
      - name: title
        field:
          element: text
          label: title
      - name: image
        field:
          element: select
          options: 'http://tocaki.net/jsonp/avatars.jsonp?callback=avatars'
          label: Imagem
      - name: city
        field:
          element: select
          options: 'http://tocaki.net/jsonp/cities.jsonp?callback=cities'
          label: Cidade
      - name: type
        field:
          element: select
          label: Tipo
          options:
            - Banda
            - Solo
      - name: genre
        field:
          element: select
          options: 'http://tocaki.net/jsonp/genres.jsonp?callback=genres'
          label: Gênero
      - name: portfolio
        field:
          element: text
          label: Portfólio
      - name: email
        field:
          element: text
          label: E-mail
      - name: phone
        field:
          element: text
          label: Telefone
          help: Opcional
      - name: facebook
        field:
          element: text
          label: Nome de usuário do Facebook
          help: Opcional
      - name: twitter
        field:
          element: text
          label: Nome de usuário do Twitter
          help: Opcional
      - name: gplus
        field:
          element: text
          label: Nome de usuário do Google+
          help: Opcional
