---
layout: default
---

<div class="bg-faded p-y-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        {% include filter-card.html title="Tipo"       items=site.data.types  icon="search" %}
        {% include filter-card.html title="Localidade" items=site.data.cities icon="marker" %}
        {% include filter-card.html title="Gênero"     items=site.data.genres icon="play" %}
      </div>
      <div class="col-md-8">
        <div class="row">
          {% for artist in site.artists %}
            <div class="col-xs-4">
              {% include artist-card.html artist=artist %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
