---
layout: default
button: Busque entre mais de 40 profissionais
lead: Encontre o melhor para o seu evento.
---

<p class="pull-xs-right p-a-1">
  <a href="{{ site.blogurl }}" class="btn btn-primary">Blog</a>
</p>

<div class="hero p-y-7 bg-cover-fixed text-primary text-xs-center">
  <p class="display-1"><span class="p-x-2 bb-2">{% include tocaki-logo.html %}</span></p>
  <p class="h3 m-b-2">{{ page.lead }}</p>
  <p>
    <a href="{{ "/artistas" | prepend: site.baseurl }}" class="btn btn-lg btn-outline-primary">{{ page.button }}</a>
  </p>
</div>

<div class="p-y-5">
  <div class="container">
    <div class="m-b-2">
      <span class="display-3 pull-xs-left m-r-1 text-info">{% include icon.html i="play" %}</span>
      <h2 class="h1">Você que é profissional</h2>
      <h3 class="h3 text-muted">E aí, aonde vamos tocar hoje?</h3>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="lead">
          Tocaki é uma plataforma que acredita nos artistas e busca oferecer as oportunidades que eles merecem. O nosso objetivo é auxiliar na divulgação dos artistas que precisam, de forma moderna, funcional e inovadora!
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <a href="{{ site.subscriptionurl }}" class="btn btn-block btn-info btn-lg">{% include icon.html i="music" %} Quero participar!</a>
        </p>
      </div>
    </div>
  </div>
</div>
