<footer class="bg-inverse text-muted p-y-3">
  <div class="container">
    <h2 class="display-2">{% include tocaki-logo.html %}</h2>
    <p>&copy; 2016 {{ site.title }} &mdash; <a href="mailto: {{ site.email }}">{{ site.email }}</a></p>
    <p class="h2">
      <a href="{{ site.facebook | prepend: "https://facebook.com/" }}" target="_blank" class="text-deco-none">
        {% include icon.html i="facebook-fill" %}
        <span class="sr-only">Facebook</span>
      </a>
      <a href="{{ site.instagram | prepend: "https://instagram.com/" }}" target="_blank" class="text-deco-none">
        {% include icon.html i="instagram-fill" %}
        <span class="sr-only">Instagram</span>
      </a>
    </p>
  </div>
</footer>
