<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.layout == 'profile' %}
    <title>{{ page.name | append: ' | ' | append: site.title | escape }}</title>
  {% else %}
    <title>{{ page.title | default: site.title | escape }}</title>
  {% endif %}

  {% assign description = page.description | default: site.description %}
  <meta name="description" content="{{ description }}">

  {% if page.layout == "profile" %}
    {% assign image = page.image | prepend: site.baseurl | prepend: site.url %}
    {% assign url = page.url | prepend: site.baseurl | prepend: site.url %}
    {% include seo/twitter-card.html title=page.name description=description image=image %}
    {% include seo/open-graph.html title=page.name url=url image=image %}
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <script src="{{ "/javascript/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascript/svgxuse.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/javascript/app.js" | prepend: site.baseurl }}"></script>
</head>
