body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Hind, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: $line-height;
  color: #1F1F21;
}

p {
  margin-top: 0;
  margin-bottom: $line-height;
}

a {
  color: $primary-color;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: $line-height;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.main {
  flex-grow: 1;
}
