$genres: (
  rock:   $brand-info,
  metal:  $brand-success,
  samba:  $brand-warning,
  pagode: $brand-danger
);

@each $name, $color in $genres {
  .text-genre-#{$name} { color:      $color; }
  .bg-genre-#{$name}   { background: $color; }
}
