.text-deco-none { text-decoration: none !important; }

.bb-1 { border-bottom: $border-width solid; }
.bb-2 { border-bottom: $border-width * 2 solid; }
.bb-3 { border-bottom: $border-width * 3 solid; }

.bg-cover-fixed {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
