.home {
  background:
    linear-gradient(rgba(31, 31, 33, .9), rgba(31, 31, 33, .9)),
    url(../images/bg.jpg) center;
  background-size: cover;
  color: $primary-color;

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $line-height;
    text-align: center;
  }
}

.site-logo {
  width: 200px;
  margin: 0 auto;
}

.site-name {
  font-size: 3.1875rem;
  line-height: $line-height * 3;
  text-transform: uppercase;
  letter-spacing: 12.5px;
  margin-right: -12.5px;
}

.site-action {
  font-size: 1.5625rem;;
  line-height: $line-height;
}

.site-action-link {
  display: inline-block;
  padding: ($line-height / 2) 1em;
  border-radius: 4px;
  text-decoration: none;
  background: $primary-color;
  color: #FFF;
}

.site-about {
  color: #C7C7CC;
}

.site-footer {
  text-align: center;
  color: #FFF;

  p {
    margin: ($line-height / 2) 0;
  }
}
