.navbar {
  display: flex;
  margin-bottom: $line-height * 2;
  background: #1F1F21;
  border-bottom: 3px solid $primary-color;
}

.navbar-item {
  text-decoration: none;
}

.navbar-logo {
  margin-right: auto;
  margin-left: $line-height / 2;
  padding: 14px 1em 0;
  line-height: 1;
  background: $primary-color;

  svg {
    height: 58px;
    width: auto;

    path { fill: white; }
  }
}

.navbar-action {
  display: inline-block;
  padding: ($line-height / 2) 1em;
  margin: $line-height / 2;
  border-radius: 2px;
  background: $primary-color;
  color: #FFF;
}
