<!DOCTYPE html>
<html lang="pt-BR">
  {% assign title = page.name | append: " | Tocaki" %}
  {% include head.html title=title %}

  <body class="artist-profile">
    {% include header.html %}

    <div class="p-y-3">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="{{ page.slug | append: ".jpg" | prepend: "/images/artists/" | prepend: site.baseurl }}" alt="{{ page.name }}" class="img-fluid img-circle m-x-auto m-b-1">
          </div>
          <div class="col-md-9">
            <h1 class="display-2 artist-profile-name">{{ page.name }}</h1>
            <p class="h2 text-muted m-b-2 artist-profile-city">
              <span class="text-primary">{% include icon.html i="marker" %}</span> {{ page.city }}
            </p>
            <p>
              <a href="{{ page.email | prepend: "mailto: " }}" class="btn btn-lg btn-primary pull-xs-left">
                <span class="m-r-1">{% include icon.html i="email-fill" %}</span>Enviar mensagem
              </a>
              <div class="btn-group btn-group-lg pull-xs-right" role="group">
                <a href="#" class="btn btn-outline-primary">{% include icon.html i="facebook" %}</a>
                <a href="#" class="btn btn-outline-primary">{% include icon.html i="twitter" %}</a>
                <a href="#" class="btn btn-outline-primary">{% include icon.html i="google-plus" %}</a>
              </div>
            </p>
          </div>
        </div>

        <hr>

        <div class="row p-y-1">
          <div class="col-md-8">{{ content }}</div>
          <div class="col-md-4">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                <span class="m-r-1">{% include icon.html i="music" %}</span>Ouça {{ page.name }}
              </a>
              <a href="{{ page.email | prepend: "mailto: " }}" class="list-group-item">
                <span class="m-r-1">{% include icon.html i="email" %}</span>{{ page.email }}
              </a>
              {% if page.phone %}
                <a href="#" class="list-group-item">
                  <span class="m-r-1">{% include icon.html i="phone" %}</span>Ligue para {{ page.phone }}
                </a>
              {% endif %}
              {% if page.facebook %}
                <a href="#" class="list-group-item">
                  <span class="m-r-1">{% include icon.html i="facebook" %}</span>Facebook
                </a>
              {% endif %}
              {% if page.twitter %}
                <a href="#" class="list-group-item">
                  <span class="m-r-1">{% include icon.html i="twitter" %}</span>Twitter
                </a>
              {% endif %}
              {% if page.gplus %}
                <a href="#" class="list-group-item">
                  <span class="m-r-1">{% include icon.html i="google-plus" %}</span>Google +
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
